.postheader-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}
.postheader-icon{
    display: flex;
    width: 200px;
    align-items: center;
}
.postname{
    display: flex;
    flex-direction: column;
    margin-left:10px;
}