.side-nav-container{
    background-color: #F2F3F5;
    flex: .2;
    height: 800px;
    padding: 10px 0 0 5px;
}
.side-nav-container.active{
    background-color: rgb(24, 24, 24);
    color: grey;
}
@media (max-width:1000px) {
        .side-nav-container{
             display: none;  
        }
}